@keyframes apper{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

body{
  background:url("./images/background2.jpg");
  font-family: 'Oxanium', cursive;
  background-size: cover;
  position: relative;
  background-position: top center;
}

.App{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  color:white;
}

header{
  width:100%;
  flex-basis:30vh;
  display:flex;
  padding:0 15px 30px 15px;
}

header input{
  width:100%;
  max-width: 250px;;
  margin:0 auto;
  height: 40px;
  border:none;
  outline:none;
  margin-top:10%;
  border-radius: 0 15px 0 15px;
  font-size: 20px;
  border-bottom:3px solid green;
  padding:10px 15px;
  background-color: rgba(255, 255, 255, .5);
  font-weight:500px;
  color:rgb(0,0,0);
  transition: .2s;
}

header input:focus{
  background-color:rgba(255, 255, 255, .9);
}

main{
  flex-grow:1;
  display:flex;
  flex-direction: column;
  margin-top:50px;
  align-items: center;
  text-align: center;
  align-content:center;
  animation-name: apper;
  animation-duration: 1s;
}

.info .city{
  font-size:3em;
  margin-bottom:10px;
  text-shadow: 4px 4px rgba(0, 0, 0, .7);
  font-weight: 600;
}
.info .date{
  font-size: 1.5em;
}

.info .temp{
  font-size:10em;
  text-shadow: 6px 6px rgba(0, 0, 0, .6);
}

.info .weather{
  font-size:2em;
  font-weight: 600;
  text-shadow: 3px 3px rgba(0, 0, 0, .6);
}

.info .high-low-temp{
  font-size: 1.2em;
  text-shadow: 2px 2px rgba(0, 0, 0, .6);
}